@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  /* ===== Colors ===== */
  --color-main: #003465;
  --color-secondary: #B7AA8C;
  --color-white: #FFFFFF;

  /* ===== Backgrounds ===== */
  --bg-main: #FCFCF7;
  --bg-secondary: #F1EFE5;

  /* ===== Texts ===== */
  --text-main: #919191;
  --text-secondary: #B7AA8C;
  --text-menu: #A7A7A7;

  /* ===== Typefaces ===== */
  --font-main: "Albert Sans", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

/* ===== App Container ===== */
.app-container {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.page-container {
  max-width: 2560px;
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ===== NAVBAR - Section / Menu Items ===== */
.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 50%;
  padding: 0 65px;
  position: absolute;
  top: 6%;
  transform: translate(-50%, -50%);
  max-width: 2560px;
  width: 100%;
  z-index: 1;
}

.navbar-links {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 28px;
  justify-content: center;
}

.navbar-link {
  color: var(--text-menu);
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 12px;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-link::after {
  background-color: #C49F57;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transition: width 0.3s ease;
  width: 0%;
}

.navbar-link:hover {
  color: #C49F57;
  font-weight: 700;
}

.navbar-link:hover::after {
  width: 100%;
}

.navbar-link.active {
  color: #C49F57;
  font-weight: 700;
}

.navbar-link.active::after {
  width: 100%;
}

.navbar-logo {
  display: flex;
  z-index: 1;
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
}

@media (max-width: 1220px) {
  .navbar-toggle {
    display: block;
    z-index: 2;
  }

  .navbar-links {
    -webkit-backdrop-filter: blur(5.2px);
    backdrop-filter: blur(5.2px);
    background: rgba(255, 255, 255, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.29);
    border-radius: 0 0 22px 22px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    left: 0;
    opacity: 0;
    padding: 24px 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    transform: translateY(-10px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0.3s ease;
    visibility: hidden;
    width: 100%;
  }


  .navbar-links--open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    visibility: visible;
  }

  .navbar__menu-icon {
    width: 75%;
  }
}

@media (max-width: 850px) {
  .navbar {
    padding: 0 25px;
  }
}

@media (max-width: 550px) {
  .navbar {
    padding: 0 30px;
  }

  .navbar-logo img {
    width: 75%;
  }
}

@media (max-width: 375px) {
  .navbar {
    padding: 0 25px;
  }
}

@media (max-width: 320px) {
  .navbar {
    padding: 0 20px;
  }
}