@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  /* ===== Colors ===== */
  --color-main: #003465;
  --color-secondary: #B7AA8C;
  --color-white: #FFFFFF;
  --color-yellow: #C49F57;

  /* ===== Backgrounds ===== */
  --bg-main: #FCFCF7;
  --bg-secondary: #F1EFE5;

  /* ===== Texts ===== */
  --text-main: #919191;
  --text-secondary: #B7AA8C;
  --text-menu: #A7A7A7;

  /* ===== Typefaces ===== */
  --font-main: "Albert Sans", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

/* ===== App Container ===== */
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-main);
}

.page-container {
  max-width: 160rem;
  width: 90rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ===== UI - Section / Title ===== */
.title {
  color: var(--text-secondary);
  font-family: var(--font-main);
}

.title--sm {
  font-weight: 600;
  font-size: 3.75rem;
}

.title--sm-a {
  font-weight: 600;
  font-size: 2.875rem;
}

.title--md {
  font-weight: 800;
  font-size: 0.875rem;
}

.title--lg {
  font-weight: 800;
  font-size: 3.75rem;
  line-height: 98%;
  letter-spacing: 0;
}

/* ===== UI - Section / Text ===== */
.text {
  color: var(--text-secondary);
  font-family: var(--font-main);
}

.text--sm {
  font-weight: 800;
  font-size: 0.875rem;
}

.text--md {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 0;
}

/* ===== UI - Section / Button ===== */
.button {
  background-color: var(--color-main);
  color: var(--color-white);
  font-family: var(--font-main);
  cursor: pointer;
  border-radius: 35.5px;
  border: none;
  transition:
    transform 0.55s cubic-bezier(.22, .61, .36, 1),
    background-color 0.4s ease;
}

.button:hover {
  background-color: var(--color-secondary);
  transform: scale(1.03) !important;
}

.button--sm {
  padding: 0.65rem 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  width: 78% !important;
}

.button--md {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 18px 95px;
}

.button--lg {
  padding: 1.25rem 2.5rem;
  font-size: 1.125rem;
}

/* ===== NAVBAR - Section / Menu Items ===== */
.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 50%;
  padding: 0 7rem 0 2.57rem;
  position: absolute;
  top: 7%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width: 100%;
  z-index: 1;
}

.navbar-links {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
}

.navbar-link {
  color: var(--text-menu);
  font-family: var(--font-main);
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 0.75rem;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-link::after {
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transition: width 0.3s ease-in-out;
  background-color: var(--color-yellow);
  width: 0%;
}

.navbar-link:hover {
  color: var(--color-yellow);
  font-weight: 700;
}

.navbar-link:hover::after {
  width: 100%;
}

.navbar-link.active {
  color: var(--color-yellow);
  font-weight: 700;
}

.navbar-link.active::after {
  width: 100%;
}

.navbar-logo {
  display: flex;
  z-index: 1;
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .navbar {
    padding: 0 2rem;
    z-index: 3;
  }

  .navbar-toggle {
    display: block;
    z-index: 3;
  }

  .navbar-links {
    -webkit-backdrop-filter: blur(5.2px);
    backdrop-filter: blur(5.2px);
    background: linear-gradient(65deg, rgba(253, 253, 248, 1) 32%, rgba(230, 228, 224, 1) 50%, rgba(228, 228, 223, 1) 72%);
    border-radius: 0 0 22px 22px;
    box-shadow: 0 20px 18px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    left: 0;
    opacity: 0;
    padding: 1.5rem 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    transform: translateY(-10px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0.3s ease;
    visibility: hidden;
    width: 100%;
  }

  .navbar-links--open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    visibility: visible;
  }

  .navbar__menu-icon {
    width: 75%;
  }
}

@media (max-width: 550px) {
  .navbar {
    padding: 0 1.875rem;
  }

  .navbar-logo img {
    width: 75%;
  }
}

@media (max-width: 375px) {
  .navbar {
    padding: 0 1.563rem;
  }
}

@media (max-width: 320px) {
  .navbar {
    padding: 0 1.25rem;
  }
}

/* ===== HOME PAGE - Section / Header ===== */
.header-home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 7.7rem;
}

.header-home__background {
  background: linear-gradient(69deg, rgba(253, 253, 248, 1) 32%, rgba(230, 228, 224, 1) 50%, rgba(228, 228, 223, 1) 72%);
  width: 100%;
  height: 550px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0px, -100px);
  z-index: 0;
}

.header-home__content {
  display: grid;
  grid-template-columns: 45% 55%;
  z-index: 2;
  padding-bottom: 2.5rem;
}

.header-home__copy {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 7rem 1.0rem 0 5.4rem;
  gap: 4.4rem;
}

.header-home__media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-home__image {
  width: 95%;
  height: auto;
}

.header-home__actions {
  display: flex;
  gap: 5.625rem;
}

@media (max-width: 1359px) {
  .header-home__copy {
    gap: 2.4rem;
  }
}

@media (max-width: 1320px) {
  .header-home__copy {
    gap: 2.4rem;
  }

  .header-home__copy {
    padding: 6rem 0rem 0 5.4rem
  }
}

@media (max-width: 1220px) {
  .header-home__copy {
    padding: 3rem 0rem 0 5.4rem;
  }

  .navbar {
    padding: 0 1.6rem 0 2.57rem;
  }

  .navbar-links {
    gap: 1rem;
  }
}

@media (max-width: 1025px) {
  .header-home__copy {
    padding: 0rem 1.0rem 0 4rem;
  }

  .header-home {
    padding-top: 10rem;
  }

  .header-home__background {
    height: 500px;
  }
}

@media (max-width: 895px) {
  .header-home {
    padding-top: 6rem;
  }

  .button--md {
    padding: 13px 82px;
    font-size: 1.4rem;
  }

  .header-home__actions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .header-home__text {
    padding: 0 4.5rem;
  }

  .header-home__image {
    width: 85%;
  }

  .header-home__content {
    grid-template-columns: 1fr;
    padding-bottom: 2.6rem;
  }

  .header-home__copy {
    padding: 3.5rem 4rem;
    text-align: center;
    align-items: center;
  }

  .header-home__background {
    height: 770px;
  }
}

@media (max-width: 710px) {
  .header-home__text {
    padding: 0 2.5rem;
  }
}

@media (max-width: 642px) {
  .header-home__copy {
    padding: 3.5rem 1rem;
  }
}

@media (max-width: 580px) {
  .header-home {
    padding-top: 5.5rem;
  }

  .header-home__copy {
    padding: 3.5rem 1rem;
  }

  .title--lg {
    font-size: 2.9rem;
  }

  .header-home__text {
    padding: 0 1.3rem;
  }
}

@media (max-width: 555px) {
  .header-home__image {
    width: 92%;
  }
}

@media (max-width: 450px) {
  .title--lg {
    font-size: 2.5rem;
  }

  .text--md {
    font-size: 1.3rem;
  }

  .header-home__image {
    width: 95%;
  }

  .button--md {
    padding: 9px 65px;
    font-size: 1.2rem;
  }

  .header-home__background {
    height: 710px;
  }
}

@media (max-width: 380px) {
  .title--lg {
    font-size: 2.2rem;
  }

  .text--md {
    font-size: 1.2rem;
  }
}

@media (max-width: 345px) {
  .title--lg {
    font-size: 1.9rem;
  }
}

@media (max-width: 295px) {
  .title--lg {
    font-size: 1.5rem;
  }
}

/* ===== HOME PAGE - Section / Popular Choices ===== */
.popular-choices {
  max-width: 100%;
  width: 100%;
  text-align: center;
  display: grid;
  padding: 7.5rem 5.5rem;
}

.popular-choices__button {
  bottom: 1.8rem;
  position: absolute;
  transform: translateX(-50%) scale(1);
  transition:
    transform 0.55s cubic-bezier(.22, .61, .36, 1),
    background-color 0.4s ease;
}

.popular-choices__button:hover {
  transform: translateX(-50%) scale(1.03) !important;
}

.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-active {
  transform: scale(1.08);
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-pagination-bullet {
  background-color: var(--text-secondary) !important;
  width: 1.1rem !important;
  height: 1.1rem !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--text-secondary) !important;
}

.swiper-slide {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: scale(0.9) !important;

}

.swiper-slide-active {
  transform: scale(1.1) !important;
}

.swiper-horizontal {
  padding: 8rem 0 5rem 0 !important;
}

.popular-choices__slide {
  position: relative;
  overflow: visible !important;
}

.leaf-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.leaf {
  position: absolute;
  opacity: 0;
  will-change: opacity, transform;
}

@keyframes leaf-fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.6);
    filter: blur(4px);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1.4);
    filter: blur(0);
  }
}

.swiper-slide-active .leaf {
  animation: leaf-fade-in 1.7s cubic-bezier(0.22, 1, 0.36, 1) both;
}

.leaf-1 {
  top: -20%;
  left: 0%;
}

.swiper-slide-active .popular-choices__button {
  transform: translateX(-50%) translateY(-6px);
}

@media (max-width: 1240px) {
  .button--sm {
    font-size: 1.1rem;
  }
}


@media (max-width: 1040px) {
  .button--sm {
    font-size: 0.9rem;
  }

  .swiper-pagination-bullet {
    height: 0.9rem !important;
    width: 0.9rem !important;
  }
}


@media (max-width: 900px) {
  .button--sm {
    font-size: 0.75rem;
  }

  .swiper-pagination-bullet {
    height: 0.85rem !important;
    width: 0.85rem !important;
  }
}

@media (max-width: 895px) {
  .swiper-slide-active {
    transform: scale(0.8) !important;
  }

  .swiper-slide {
    transform: scale(0.8) !important;
  }

  .swiper-horizontal {
    padding: 0rem 3.1rem 0 !important;
    margin-top: 0.2rem;
  }

  .popular-choices {
    padding: 7rem 4.5rem 0;
  }

  .leaf-container {
    top: 3.125rem;
  }

  .swiper-pagination-horizontal {
    transform: translateY(-25px) !important;
  }

  .button--sm {
    font-size: 2rem;
    font-weight: 700;
  }
}

@media (max-width: 750px) {
  .popular-choices {
    padding: 7rem 2.5rem 0;
  }
}

@media (max-width: 675px) {
  .title--sm {
    font-size: 3.125rem;
  }

  .popular-choices {
    padding: 7rem 1.2rem 0;
  }

  .swiper-horizontal {
    padding: 0rem 1.5rem 0 !important;
  }

  .swiper-pagination-horizontal {
    transform: translateY(-10px) !important;
  }
}

@media (max-width: 580px) {
  .title--sm {
    font-size: 3.125rem;
  }
}

@media (max-width: 550px) {
  .title--sm {
    font-size: 2.65rem;
  }
}

@media (max-width: 530px) {
  .button--sm {
    font-size: 1.6rem;
  }
}

@media (max-width: 470px) {
  .title--sm {
    padding: 0 3rem;
  }
}

@media (max-width: 440px) {
  .button--sm {
    font-size: 1.3rem;
  }
}

@media (max-width: 430px) {
  .swiper-pagination-horizontal {
    transform: translateY(5px) !important;
  }
}

@media (max-width: 425px) {
  .popular-choices {
    padding: 7rem 0.5rem 0;
  }
}

@media (max-width: 380px) {
  .button--sm {
    font-size: 1rem;
  }
}

@media (max-width: 370px) {
  .title--sm {
    padding: 0 1rem;
  }
}

@media (max-width: 335px) {
  .button--sm {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .swiper-horizontal {
    padding: 0rem 1rem 0 !important;
  }

  .title--sm {
    font-size: 2rem;
  }
}

/* ===== HOME PAGE - Section / Start Your Franchise ===== */
.start-franchise__title {
  color: var(--text-main);
}