@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  /* ===== Colors ===== */
  --color-main: #003465;
  --color-secondary: #B7AA8C;
  --color-white: #FFFFFF;
  --color-yellow: #C49F57;

  /* ===== Backgrounds ===== */
  --bg-main: #FCFCF7;
  --bg-secondary: #F1EFE5;

  /* ===== Texts ===== */
  --text-main: #919191;
  --text-secondary: #B7AA8C;
  --text-menu: #A7A7A7;

  /* ===== Typefaces ===== */
  --font-main: "Albert Sans", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

/* ===== App Container ===== */
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-main);
  position: relative;
}

.page-container {
  max-width: 90rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ===== UI - Section / Title ===== */
.title {
  color: var(--text-secondary);
  font-family: var(--font-main);
}

.title--sm {
  font-weight: 600;
  font-size: 3.75rem;
}

.title--md {
  font-weight: 600;
  font-size: 2.875rem;
  line-height: 100%;
  letter-spacing: 0;
}

.title--lg {
  font-weight: 800;
  font-size: 3.75rem;
  line-height: 98%;
  letter-spacing: 0;
}

/* ===== UI - Section / Text ===== */
.text {
  color: var(--text-secondary);
  font-family: var(--font-main);
}

.text--sm {
  font-weight: 800;
  font-size: 0.875rem;
}

.text--md {
  font-weight: 400;
  font-size: 1.125rem;
}

.text--lg {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 0;
}

/* ===== UI - Section / Button ===== */
.button {
  background-color: var(--color-main);
  color: var(--color-white);
  font-family: var(--font-main);
  cursor: pointer;
  border-radius: 35.5px;
  border: none;
  transition:
    transform 0.55s cubic-bezier(.22, .61, .36, 1),
    background-color 0.4s ease;
}

.button:hover {
  background-color: var(--color-secondary);
}

.button--sm {}

.button--md {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.125rem 6.188rem;
}

.button--lg {
  padding: 0.65rem 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  width: 80% !important;
}

/* ===== NAVBAR - Section / Menu Items ===== */
.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 50%;
  padding: 0 7rem 0 2.57rem;
  position: absolute;
  top: 3.6rem;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width: 100%;
  z-index: 1;
}

.navbar-links {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
}

.navbar-link {
  color: var(--text-menu);
  font-family: var(--font-main);
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 0.75rem;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-link::after {
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transition: width 0.3s ease-in-out;
  background-color: var(--color-yellow);
  width: 0%;
}

.navbar-link:hover {
  color: var(--color-yellow);
  font-weight: 700;
}

.navbar-link:hover::after {
  width: 100%;
}

.navbar-link.active {
  color: var(--color-yellow);
  font-weight: 700;
}

.navbar-link.active::after {
  width: 100%;
}

.navbar-logo {
  display: flex;
  z-index: 1;
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .navbar {
    padding: 0 2rem;
    z-index: 3;
  }

  .navbar-toggle {
    display: block;
    z-index: 3;
  }

  .navbar-links {
    -webkit-backdrop-filter: blur(5.2px);
    backdrop-filter: blur(5.2px);
    background: linear-gradient(65deg, rgba(253, 253, 248, 1) 32%, rgba(230, 228, 224, 1) 50%, rgba(228, 228, 223, 1) 72%);
    border-radius: 0 0 22px 22px;
    box-shadow: 0 20px 18px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    left: 0;
    opacity: 0;
    padding: 1.5rem 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    transform: translateY(-0.625rem);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0.3s ease;
    visibility: hidden;
    width: 100%;
  }

  .navbar-links--open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    visibility: visible;
  }

  .navbar__menu-icon {
    width: 75%;
  }
}

@media (max-width: 550px) {
  .navbar {
    padding: 0 1.875rem;
  }

  .navbar-logo img {
    width: 75%;
  }
}

@media (max-width: 375px) {
  .navbar {
    padding: 0 1.563rem;
  }
}

@media (max-width: 320px) {
  .navbar {
    padding: 0 1.25rem;
  }
}

/* ===== Footer - Section / Menu Items ===== */
.footer {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  left: 50%;
  padding: 0 3rem;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, -60%);
  max-width: 90rem;
  width: 100%;
  z-index: 1;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.social-networks a img {
  margin-right: 1.3rem;
}

.footer-title {
  font-size: 1.25rem;
  font-family: var(--font-secondary);
  font-weight: 700;
  color: var(--text-main);
  margin-bottom: 1.3rem;
}

.footer-container a {
  color: var(--text-main);
  font-size: 1.25rem;
  font-family: var(--font-secondary);
  font-weight: 300;
  text-decoration: none;
}

@media (max-width: 1100px) {
  .footer-container a {
    font-size: 1.1rem;
  }

  .social-networks a img {
    margin-right: 1.1rem;
  }
}

@media (max-width: 895px) {
  .footer {
    align-items: center;
    transform: translate(-50%, -20%);
  }

  .footer-container {
    flex-direction: column;
    gap: 1.1rem;
  }

  .footer-container a {
    font-size: 1rem;
  }

  .footer-title {
    font-size: 1.6rem;
  }
}

@media (max-width: 350px) {
  .footer {
    padding: 0;
  }
}

@media (max-width: 310px) {
  .footer-container a {
    font-size: 0.9rem;
  }
}

/* ===== HOME PAGE - Section / Header ===== */
.home-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 7.7rem;
}

.home-header__background {
  background: linear-gradient(69deg, rgba(253, 253, 248, 1) 32%, rgba(230, 228, 224, 1) 50%, rgba(228, 228, 223, 1) 72%);
  width: 100%;
  height: 550px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, -100px);
  z-index: 0;
}

.home-header__content {
  display: grid;
  grid-template-columns: 45% 55%;
  z-index: 2;
  padding-bottom: 2.5rem;
}

.home-header__copy {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 7rem 1.0rem 0 5.4rem;
  gap: 4.4rem;
}

.home-header__media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-header__image {
  width: 95%;
  height: auto;
}

.home-header__actions {
  display: flex;
  gap: 5.625rem;
}

@media (max-width: 1359px) {
  .home-header__copy {
    gap: 2.4rem;
  }
}

@media (max-width: 1320px) {
  .home-header__copy {
    gap: 2.4rem;
  }

  .home-header__copy {
    padding: 6rem 0rem 0 5.4rem
  }
}

@media (max-width: 1220px) {
  .home-header__copy {
    padding: 3rem 0rem 0 5.4rem;
  }

  .navbar {
    padding: 0 1.6rem 0 2.57rem;
  }

  .navbar-links {
    gap: 1rem;
  }
}

@media (max-width: 1025px) {
  .home-header__copy {
    padding: 0rem 1.0rem 0 4rem;
  }

  .home-header {
    padding-top: 10rem;
  }

  .home-header__background {
    height: 500px;
  }
}

@media (max-width: 895px) {
  .home-header {
    padding-top: 6rem;
  }

  .button--md {
    padding: 0.813rem 5.125rem;
    font-size: 1.4rem;
  }

  .home-header__actions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .home-header__text {
    padding: 0 4.5rem;
  }

  .home-header__image {
    width: 85%;
  }

  .home-header__content {
    grid-template-columns: 1fr;
    padding-bottom: 2.6rem;
  }

  .home-header__copy {
    padding: 3.5rem 4rem;
    text-align: center;
    align-items: center;
  }

  .home-header__background {
    height: 48.125rem;
  }
}

@media (max-width: 710px) {
  .home-header__text {
    padding: 0 2.5rem;
  }
}

@media (max-width: 642px) {
  .home-header__copy {
    padding: 3.5rem 1rem;
  }
}

@media (max-width: 580px) {
  .home-header {
    padding-top: 5.5rem;
  }

  .home-header__copy {
    padding: 3.5rem 1rem;
  }

  .title--lg {
    font-size: 2.9rem;
  }

  .home-header__text {
    padding: 0 1.3rem;
  }
}

@media (max-width: 555px) {
  .home-header__image {
    width: 92%;
  }
}

@media (max-width: 450px) {
  .title--lg {
    font-size: 2.5rem;
  }

  .text--lg {
    font-size: 1.3rem;
  }

  .home-header__image {
    width: 95%;
  }

  .button--md {
    padding: 0.563rem 4.063rem;
    font-size: 1.2rem;
  }

  .home-header__background {
    height: 710px;
  }
}

@media (max-width: 380px) {
  .title--lg {
    font-size: 2.2rem;
  }

  .text--lg {
    font-size: 1.3rem;
  }
}

@media (max-width: 345px) {
  .title--lg {
    font-size: 1.9rem;
  }
}

@media (max-width: 295px) {
  .title--lg {
    font-size: 1.5rem;
  }
}

/* ===== HOME PAGE - Section / Carousel  ===== */
.home-carousel {
  max-width: 100%;
  width: 100%;
  text-align: center;
  display: grid;
  padding: 7.5rem 5.5rem;
}

.home-carousel__button {
  bottom: 1.8rem;
  position: absolute;
  transform: translateX(-50%) scale(1);
  transition:
    transform 0.55s cubic-bezier(.22, .61, .36, 1),
    background-color 0.4s ease;
}

.home-carousel__button:hover {
  transform: translateX(-50%) scale(1.03) !important;
}

.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-active {
  transform: scale(1.08);
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-pagination-bullet {
  background-color: var(--text-secondary) !important;
  width: 1.1rem !important;
  height: 1.1rem !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--text-secondary) !important;
}

.swiper-slide {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: scale(0.9) !important;

}

.swiper-slide-active {
  transform: scale(1.1) !important;
}

.swiper-horizontal {
  padding: 8rem 0 5rem 0 !important;
}

.home-carousel__slide {
  position: relative;
  overflow: visible !important;
}

.home-leaf-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.leaf {
  position: absolute;
  opacity: 0;
  will-change: opacity, transform;
}

@keyframes leaf-fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.6);
    filter: blur(4px);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1.4);
    filter: blur(0);
  }
}

.swiper-slide-active .leaf {
  animation: leaf-fade-in 1.7s cubic-bezier(0.22, 1, 0.36, 1) both;
}

.leaf-1 {
  top: -20%;
  left: 0%;
}

.swiper-slide-active .home-carousel__button {
  transform: translateX(-50%) translateY(-6px);
}

@media (max-width: 1240px) {
  .button--lg {
    font-size: 1.1rem;
  }
}


@media (max-width: 1040px) {
  .button--lg {
    font-size: 0.9rem;
  }

  .swiper-pagination-bullet {
    height: 0.9rem !important;
    width: 0.9rem !important;
  }
}


@media (max-width: 900px) {
  .button--lg {
    font-size: 0.75rem;
  }

  .swiper-pagination-bullet {
    height: 0.85rem !important;
    width: 0.85rem !important;
  }
}

@media (max-width: 895px) {
  .swiper-slide-active {
    transform: scale(0.8) !important;
  }

  .swiper-slide {
    transform: scale(0.8) !important;
  }

  .swiper-horizontal {
    padding: 0rem 3.1rem 0 !important;
    margin-top: 0.2rem;
  }

  .home-carousel {
    padding: 7rem 4.5rem 0;
  }

  .home-leaf-container {
    top: 3.125rem;
  }

  .swiper-pagination-horizontal {
    transform: translateY(-25px) !important;
  }

  .button--lg {
    font-size: 2rem;
    font-weight: 700;
  }
}

@media (max-width: 750px) {
  .home-carousel {
    padding: 7rem 2.5rem 0;
  }
}

@media (max-width: 675px) {
  .title--sm {
    font-size: 3.125rem;
  }

  .home-carousel {
    padding: 7rem 1.2rem 0;
  }

  .swiper-horizontal {
    padding: 0rem 1.5rem 0 !important;
  }

  .swiper-pagination-horizontal {
    transform: translateY(-10px) !important;
  }
}

@media (max-width: 580px) {
  .title--sm {
    font-size: 3.125rem;
  }
}

@media (max-width: 550px) {
  .title--sm {
    font-size: 2.65rem;
  }
}

@media (max-width: 530px) {
  .button--lg {
    font-size: 1.6rem;
  }
}

@media (max-width: 470px) {
  .title--sm {
    padding: 0 3rem;
  }
}

@media (max-width: 440px) {
  .button--lg {
    font-size: 1.3rem;
  }
}

@media (max-width: 430px) {
  .swiper-pagination-horizontal {
    transform: translateY(5px) !important;
  }
}

@media (max-width: 425px) {
  .home-carousel {
    padding: 7rem 0.5rem 0;
  }
}

@media (max-width: 380px) {
  .button--lg {
    font-size: 1rem;
  }
}

@media (max-width: 370px) {
  .title--sm {
    padding: 0 1rem;
  }
}

@media (max-width: 335px) {
  .button--lg {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .swiper-horizontal {
    padding: 0rem 1rem 0 !important;
  }

  .title--sm {
    font-size: 2rem;
  }
}

/* ===== HOME PAGE - Section /  CTA Banner ===== */
.home-cta-banner {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0rem 3.125rem 4rem;
}

.home-cta-banner__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}

.home-cta-banner__title {
  color: var(--text-main);
  margin-bottom: 1.875rem;
  font-weight: 600;
  width: 65%;
}

.home-cta-banner__buttons,
.home-cta-banner__title,
.home-cta-banner__description {
  padding-left: 4rem;
}

.home-cta-banner__description {
  margin-bottom: 4.0625rem;
  line-height: 177.3%;
  color: var(--text-main);
}

.home-cta-banner__buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 100%;
  width: 100%;
}

.home-cta-banner__button {
  width: 12.75rem;
  height: 3.75rem;
  padding: 0;
  font-size: 1.25rem;
}

.home-cta-banner__button:nth-child(1) {
  margin-right: 2.8125rem;
}

.home-cta-banner__image {
  max-width: 100%;
  width: 100%;
  height: auto;
}

@media (max-width: 1310px) {
  .home-cta-banner__title {
    width: 80%;
  }
}

@media (max-width: 1080px) {
  .home-cta-banner__title {
    width: 100%;
  }

  .home-cta-banner__button {
    font-size: 1.0625rem;
  }

  .home-cta-banner__button {
    height: 3.125rem;
  }

  .home-cta-banner__button:nth-child(1) {
    margin-right: 2.5rem;
  }
}

@media (max-width: 970px) {
  .home-cta-banner__button {
    font-size: 0.96875rem;
  }
}

@media (max-width: 940px) {
  .home-cta-banner__description {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 895px) {
  .home-cta-banner {
    padding: 5.3125rem 5rem 20rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "content"
      "image";
    place-items: center;
    position: relative;
  }

  .home-cta-banner__buttons {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -72%);
  }

  .home-cta-banner__button {
    width: 75%;
    font-size: 1.8rem;
    height: 4.375rem;
  }

  .home-cta-banner__button:nth-child(1) {
    margin-right: 0;
  }

  .home-cta-banner__content {
    text-align: center;
    grid-row: 1;
    width: 100%;
  }

  .home-cta-banner__image-wrapper {
    grid-row: 2;
  }

  .home-cta-banner__buttons,
  .home-cta-banner__title,
  .home-cta-banner__description {
    padding-left: 0;
  }

  .home-cta-banner__title {
    font-size: 3.75rem;
  }

  .home-cta-banner__description {
    font-size: 1.5rem;
    line-height: 177%;
  }
}

@media (max-width: 580px) {
  .home-cta-banner {
    padding: 5.3125rem 3.4375rem 20rem;
  }

  .home-cta-banner__title {
    font-size: 2.625rem;
  }

  .home-cta-banner__description {
    font-size: 1.25rem;
  }

  .home-cta-banner__button {
    width: 83%;
    font-size: 1.6rem;
    height: 3.9375rem;
  }

  .home-cta-banner__buttons {
    transform: translate(-50%, -90%);
  }
}

@media (max-width: 430px) {
  .home-cta-banner {
    padding: 5.3125rem 2.5rem 20rem;
  }

  .home-cta-banner__title {
    font-size: 2.5rem;
  }

  .home-cta-banner__description {
    font-size: 1.1875rem;
  }

  .home-cta-banner__button {
    width: 82%;
    font-size: 1.3rem;
    height: 3.8125rem;
  }

  .home-cta-banner__buttons {
    transform: translate(-50%, -95%);
  }
}

@media (max-width: 380px) {
  .home-cta-banner {
    padding: 5.3125rem 2.1875rem 17.8125rem;
  }

  .home-cta-banner__title {
    font-size: 2.25rem;
  }

  .home-cta-banner__description {
    font-size: 1.125rem;
    line-height: 165%;
  }

  .home-cta-banner__button {
    width: 80%;
    height: 3.4375rem;
  }

  .home-cta-banner__buttons {
    transform: translate(-50%, -95%);
  }
}

@media (max-width: 350px) {
  .home-cta-banner {
    padding: 5.3125rem 1.5625rem 17.8125rem;
  }

  .home-cta-banner__button {
    width: 83%;
    height: 3.25rem;
    font-size: 1.1rem;
  }

  .home-cta-banner__buttons {
    transform: translate(-50%, -100%);
  }
}

/* ===== HOME PAGE - Section / CTA Map ===== */
.home-cta-map {
  padding: 3.5rem 2.8rem;
  margin-bottom: 8.5rem;
}

.home-cta-map__wrapper {
  background-color: var(--bg-secondary);
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 6rem 2.5rem;
  place-items: center;
  border-radius: 30px;
}

.home-cta-map__image {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.home-cta-map__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3rem;
  width: 68%;
  margin-left: 1rem;
}

.home-cta-map__button {
  font-size: 1.25rem;
  padding: 0.938rem 2.5rem;
}

.home-cta-map__description {
  color: var(--text-main);
  line-height: 177.3%;
}

@media (max-width: 1110px) {
  .home-cta-map__title {
    font-size: 2.5rem;
  }

  .home-cta-map__description {
    font-size: 1.125rem;
  }

  .home-cta-map__button {
    font-size: 1rem;
  }

  .home-cta-map__content {
    gap: 2.5rem;
  }
}

@media (max-width: 980px) {
  .home-cta-map__title {
    font-size: 2.3rem;
  }

  .home-cta-map__button {
    font-size: 0.9rem;
  }

  .home-cta-map__content {
    width: 85%;
    margin-left: 3rem;
  }
}

@media (max-width: 895px) {
  .home-cta-map {
    padding: 1.7rem 3.1rem 3.7rem;
    margin-bottom: 15.5rem;
  }

  .home-cta-map__wrapper {
    grid-template-columns: 1fr;
    position: relative;
  }

  .home-cta-map__image {
    grid-row: 2;
  }

  .home-cta-map__content {
    grid-row: 1;
    width: 100%;
    margin-left: 0;
    align-items: center;
    text-align: center;
  }

  .home-cta-map__title {
    font-size: 3.75rem;
  }

  .home-cta-map__description {
    font-size: 1.5rem;
    width: 75%;
  }

  .home-cta-map__button {
    font-size: 1.8rem;
    padding: 0.875rem 3.438rem;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 60%;
  }

  .home-cta-map__wrapper {
    padding: 8rem 2.5rem 12rem;
    gap: 4rem;
  }
}

@media (max-width: 830px) {
  .home-cta-map__button {
    font-size: 1.6rem;
  }
}

@media (max-width: 795px) {
  .home-cta-map__title {
    width: 80%;
  }
}

@media (max-width: 777px) {
  .home-cta-map__button {
    font-size: 1.4rem;
    width: 70%;
  }

  .home-cta-map__description {
    width: 85%;
  }
}

@media (max-width: 650px) {
  .home-cta-map__wrapper {
    padding: 6rem 2rem 10rem;
  }

  .home-cta-map {
    padding: 0.7rem 2.5rem;
    margin-bottom: 18.5rem;
  }
}

@media (max-width: 645px) {
  .home-cta-map__description {
    width: 95%;
  }

  .home-cta-map__title {
    width: 95%;
  }
}

@media (max-width: 580px) {
  .home-cta-map__title {
    font-size: 3.125rem;
  }

  .home-cta-map__description {
    font-size: 1.4rem;
  }
}

@media (max-width: 555px) {
  .home-cta-map__description {
    width: 100%;
  }

  .home-cta-map__title {
    width: 100%;
  }

  .home-cta-map__button {
    font-size: 1.2rem;
  }
}

@media (max-width: 465px) {
  .home-cta-map__wrapper {
    padding: 6rem 1.4rem 10rem;
  }

  .home-cta-map {
    padding: 0 2.1rem 1.7rem;
    margin-bottom: 17rem;
  }

  .home-cta-map__button {
    font-size: 1rem;
  }

  .home-cta-map__title {
    font-size: 2.9rem;
  }

  .find-store__text {
    font-size: 1.3rem;
  }
}

@media (max-width: 420px) {
  .home-cta-map__button {
    width: 78%;
    font-size: 1rem;
  }

  .home-cta-map__wrapper {
    gap: 2rem;
  }
}

@media (max-width: 380px) {
  .home-cta-map__title {
    font-size: 2.6rem;
  }

  .home-cta-map__description {
    font-size: 1.2rem;
  }

  .home-cta-map {
    padding: 0 1.4rem 3.7rem;
    margin-bottom: 16rem;
  }

  .home-cta-map__wrapper {
    padding: 5rem 1.4rem 10rem;
  }
}

@media (max-width: 370px) {
  .home-cta-map__button {
    padding: 0.938rem 1.25rem;
  }
}

@media (max-width: 350px) {
  .home-cta-map {
    padding: 0rem 1.3rem 3.7rem;
  }
}

@media (max-width: 325px) {
  .home-cta-map__title {
    font-size: 2.4rem;
  }

  .home-cta-map__description {
    font-size: 1.1rem;
  }
}

/* ===== FRANCHISE PAGE - Section / Header ===== */
.franchise-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7.7rem;
  overflow: hidden;
}

.franchise-header__background {
  position: absolute;
  inset: 0;
  background-image: url("../images/franchise/franchise-header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.franchise-header__mobile-image {
  display: none;
}

.franchise-header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 1;
  gap: 3.5rem;

  max-width: 900px;
  margin: 0 auto;
  padding: 6rem 4rem 10rem;
}

.franchise-header__title {
  line-height: 87%;
}

.franchise-header__text {
  color: var(--text-main);
}

.franchise-header__actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.franchise-header__button {
  line-height: 25px;
}

.franchise-header__button--primary {
  padding: 1rem;
}

.franchise-header__button--secondary {
  padding: 10px 4.375rem;
}

@media (max-width: 1100px) {
  .header-franchise__background {
    background-size: contain;
  }
}

@media (max-width: 1050px) {
  .franchise-header__content {
    padding: 5rem 7rem 11rem;
  }

  .franchise-header__title {
    font-size: 3rem;
  }

  .franchise-header__text {
    font-size: 1.3rem;
  }

  .franchise-header__button {
    font-size: 1.3rem;
  }
}

@media (max-width: 895px) {
  .franchise-header__actions {
    grid-template-columns: 1fr;
    gap: 20px;
    width: 58%;
  }

  .franchise-header__button--primary {
    padding: 1.4rem 1.5rem;
  }

  .franchise-header__button--secondary {
    padding: 1.4rem 1.5rem;
  }
}

@media (max-width: 800px) {
  .franchise-header__content {
    padding: 3rem 7rem 11rem;
  }

  .franchise-header__title {
    font-size: 2.5rem;
  }

  .franchise-header__text {
    font-size: 1.3rem;
  }

  .franchise-header__button {
    font-size: 1.1rem;
  }

  .franchise-header__button--primary {
    padding: 1rem 1rem;
  }

  .franchise-header__button--secondary {
    padding: 1rem 1rem;
  }
}

@media (max-width: 790px) {
  .franchise-header__mobile-image {
    display: block;
    margin-top: 3rem;
    margin-bottom: 1.8rem;
    transform: scale(1.25);
  }

  .header-franchise__background {
    display: none;
    visibility: hidden;
  }

  .franchise-header__content {
    padding: 2rem 5rem 7rem;
    gap: 2rem;
  }
}

@media (max-width: 640px) {
  .franchise-header__title {
    font-size: 2.1rem;
  }

  .franchise-header__button {
    font-size: 1rem;
  }
}

@media (max-width: 590px) {
  .franchise-header__actions {
    width: 75%;
  }
}

@media (max-width: 570px) {
  .franchise-header__mobile-image {
    margin-top: 2rem;
    margin-bottom: 1.4rem;
  }

  .franchise-header__content {
    padding: 1rem 4rem 8rem;
  }
}

@media (max-width: 490px) {
  .franchise-header__content {
    padding: 0.8rem 3rem 7rem;
  }
}

@media (max-width: 470px) {
  .franchise-header__actions {
    width: 90%;
  }
}

@media (max-width: 420px) {
  .franchise-header__title {
    font-size: 1.9rem;
  }

  .franchise-header__content {
    padding-top: 0;
  }

  .franchise-header__button--primary,
  .franchise-header__button--secondary {
    padding: 0.8rem 1rem
  }
}

@media (max-width: 375px) {
  .franchise-header__content {
    padding: 0rem 1.5rem 7rem;
  }
}

@media (max-width: 340px) {
  .franchise-header__title {
    font-size: 1.7rem;
  }

  .franchise-header__text {
    font-size: 1rem;
  }

  .franchise-header__button {
    font-size: 0.9rem;
  }
}

@media (max-width: 340px) {
  .franchise-header__button {
    width: 100%;
    font-size: 0.8rem;
  }
}

/* ===== FRANCHISE PAGE - Section / Info Cards ===== */
.franchise-info-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0rem 4.4rem 4rem;
}

.franchise-info-cards__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 27px;
}

.franchise-info-cards__card-image {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.franchise-info-cards__card {
  background-color: var(--bg-secondary);
  border-radius: 15px;
  border: 1px solid #B8B8B8;
}

.franchise-info-cards__card-content {
  padding: 1.7rem 1.7rem 4rem;
}

.franchise-info-cards__card-title {
  color: var(--text-main);
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-main);
  line-height: 100%;
}

.franchise-info-cards__description {
  color: var(--text-main);
  line-height: 150%;
  font-size: 24px;
}

.franchise-info-cards__card-text {
  color: var(--text-main);
  font-size: 17px;
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-main);
  margin: 20px 0 30px;
}

.franchise-info-cards__card-list {
  gap: 19px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.franchise-info-cards__card-item {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-size: 17px;
  font-family: var(--font-main);
  font-weight: 600;
  color: var(--text-main);
  line-height: 100%;
}

.franchise-info-cards__content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 5rem;
  flex-direction: column;
  text-align: center;
  gap: 35px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d6d0c4;
  transition: background-color 0.3s, transform 0.3s;
}

.dot.active {
  background-color: #b8ad92;
  transform: scale(1.2);
}

.franchise-info-cards__dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

@media (max-width: 1250px) {
  .franchise-info-cards {
    padding: 0rem 2rem 4rem;
  }

  .franchise-info-cards__cards {
    gap: 20px;
  }

  .franchise-info-cards__card-title {
    font-size: 22px;
  }

  .franchise-info-cards__card-text {
    font-size: 16px;
  }

  .franchise-info-cards__card-content {
    padding: 1.7rem 1.7rem 4rem;
  }

  .franchise-info-cards__card-item {
    font-size: 16px;
  }
}

@media (max-width: 1150px) {
  .franchise-info-cards {
    padding: 0rem 1.5rem 4rem;
  }

  .franchise-info-cards__cards {
    gap: 15px;
  }
}

@media (max-width: 1060px) {
  .franchise-info-cards__card-content {
    padding: 1.7rem 1.3rem 3rem;
  }

  .franchise-info-cards__card-text {
    margin: 15px 0 27px;
  }

  .franchise-info-cards__card-list {
    gap: 18px;
  }
}

@media (max-width: 1000px) {

  .franchise-info-cards__cards {
    gap: 13px;
  }

  .franchise-info-cards__card-content {
    padding: 1.7rem 1.1rem 3rem
  }

  .franchise-info-cards {
    padding: 0rem 1.2rem 4rem;
  }

  .franchise-info-cards__card-title {
    font-size: 20px;
  }

  .franchise-info-cards__card-text {
    font-size: 15px;
  }

  .franchise-info-cards__card-list {
    gap: 16px;
  }
}

@media (max-width: 970px) {
  .franchise-info-cards {
    padding: 0rem 3.7rem 4rem;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
  }

  .franchise-info-cards__cards {
    display: flex;
    gap: 22px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    padding: 10px 0;
  }

  .franchise-info-cards__cards::-webkit-scrollbar {
    display: none;
  }

  .franchise-info-cards__card {
    flex: 0 0 100%;
    scroll-snap-align: center;
    box-sizing: border-box;
    max-width: 380px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 896px) {
  .franchise-info-cards__dots {
    display: none;
  }
}

@media (max-width: 1050px) {
  .franchise-info-cards__description {
    font-size: 20.8px;
  }

  .franchise-info-cards__title {
    font-size: 52px;
  }
}

@media (max-width: 970px) {
  .franchise-info-cards__card-content {
    padding: 1.7rem 1.8rem 3rem;
  }
}

@media (max-width: 640px) {
  .franchise-info-cards__title {
    font-size: 45px;
  }
}

@media (max-width: 560px) {
  .franchise-info-cards__title {
    font-size: 45px;
  }
}

@media (max-width: 480px) {
  .franchise-info-cards__title {
    font-size: 40px;
  }

  .franchise-info-cards {
    padding: 0rem 2.2rem 4rem;
  }
}

@media (max-width: 420px) {
  .franchise-info-cards__title {
    font-size: 35px;
  }

  .franchise-info-cards__description {
    font-size: 18.8px;
  }

  .franchise-info-cards__content {
    padding-bottom: 3rem;
  }
}

@media (max-width: 390px) {
  .franchise-info-cards__title {
    font-size: 33px;
    padding: 0;
  }
}

@media (max-width: 340px) {
  .franchise-info-cards {
    padding: 0rem 1.5rem 4rem;
  }
}

/* ===== FRANCHISE PAGE - Section / Info Cards ===== */
.franchise-stats-grid {
  text-align: center;
  max-width: 100%;
  width: 100%;
  padding: 30px 0px 90px;
}

.franchise-stats-grid__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 27px;
  padding: 0 68px;
}

.franchise-stats-grid__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 41px 20px;
  border-radius: 15px;
  border: 1px solid #B8B8B8;
  background-color: var(--bg-secondary);
  gap: 20px;
}

.franchise-stats-grid__title {
  color: var(--color-secondary);
  font-size: 60px;
  line-height: 87%;
  font-weight: 600;
}

.franchise-stats-grid__description {
  color: var(--text-main);
  line-height: 150%;
  font-weight: 400;
  margin: 52px auto;
  max-width: 850px;
  width: 100%;
}

.franchise-stats-grid__card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  font-family: var(--font-main);
  color: #A9A8A6;
}

.franchise-stats-grid__card-value {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  font-family: var(--font-main);
  color: var(--text-secondary);
}

@media (max-width: 1285px) {
  .franchise-stats-grid__cards {
    padding: 0 35px;
  }
}

@media (max-width: 1080px) {
  .franchise-stats-grid__cards {
    gap: 20px;
  }

  .franchise-stats-grid__title {
    padding: 0 215px;
  }
}

@media (max-width: 1050px) {
  .franchise-stats-grid__title {
    font-size: 52px;
  }
}

@media (max-width: 970px) {
  .franchise-stats-grid__title {
    padding: 0 130px;
  }
}

@media (max-width: 900px) {
  .franchise-stats-grid__cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .franchise-stats-grid__description {
    max-width: 680px;
  }
}

@media (max-width: 780px) {
  .franchise-stats-grid__title {
    padding: 0 100px;
  }
}

@media (max-width: 720px) {
  .franchise-stats-grid__title {
    padding: 0 40px;
  }

  .franchise-stats-grid__description {
    max-width: 520px;
  }

  .franchise-stats-grid {
    padding: 74px 0px;
  }
}

@media (max-width: 635px) {
  .franchise-stats-grid__card-title {
    font-size: 22px;
  }

  .franchise-stats-grid__card-value {
    font-size: 21px;
  }

  .franchise-stats-grid__title {
    font-size: 45px;
  }
}

@media (max-width: 570px) {
  .franchise-stats-grid__description {
    max-width: 420px;
    font-size: 1.4rem;
  }
}

@media (max-width: 490px) {
  .franchise-stats-grid__cards {
    gap: 12px;
    padding: 0 25px;
  }

  .franchise-stats-grid__description {
    font-size: 20.8px;
  }

  .franchise-stats-grid__title {
    font-size: 33px;
  }

  .franchise-stats-grid__card-title {
    font-size: 20px;
  }

  .franchise-stats-grid__card-value {
    font-size: 20px;
  }
}

@media (max-width: 470px) {
  .franchise-stats-grid__description {
    max-width: 350px;
  }
}

@media (max-width: 450px) {
  .franchise-stats-grid {
    padding: 45px 0px;
  }

  .franchise-stats-grid__cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .franchise-stats-grid__cards {
    padding: 0 50px;
  }

  .franchise-stats-grid__card-title {
    font-size: 23px;
  }

  .franchise-stats-grid__card-value {
    font-size: 22px;
  }

  .franchise-stats-grid__card {
    padding: 40px 20px;
  }
}

@media (max-width: 400px) {
  .franchise-stats-grid__cards {
    padding: 0 35px;
  }
}

@media (max-width: 370px) {
  .franchise-stats-grid__description {
    max-width: 270px;
    font-size: 18.8px;
  }
}

@media (max-width: 335px) {
  .franchise-stats-grid__card-title {
    font-size: 21px;
  }

  .franchise-stats-grid__card-value {
    font-size: 20px;
  }
}

/* ===== FRANCHISE PAGE - Section / Carousel ===== */
.franchise-carousel {
  max-width: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0 90px;
}

.franchise-carousel__title {
  line-height: 87%;
}

.franchise-carousel__description {
  color: var(--text-main);
  padding: 60px 0 0;
}

.franchise-carousel__slide {
  border: 1px solid var(--text-secondary);
  border-radius: 15px;
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  transform: scale(1) !important;
  height: auto !important;
}

.franchise-carousel__slide-image img {
  max-width: 114px;
  width: 100%;
  height: auto;
}

.franchise-carousel__slide-content h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  font-family: var(--font-main);
  color: var(--text-main);
  margin-bottom: 30px;
}

.franchise-carousel__slide-content p {
  font-size: 17px;
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-main);
  color: var(--text-main);
}

.franchise-carousel__swiper {
  margin: 0 20px !important;
  padding-top: 60px !important;
}

.franchise-carousel__slider {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 190px;
}

.franchise-carousel__slide-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 30px;
}

.franchise-carousel__slide-content {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 0 30px 55px;
}

@media (max-width: 1350px) {
  .franchise-carousel__slider {
    padding: 0 110px;
  }
}

@media (max-width: 1230px) {
  .franchise-carousel__slider {
    padding: 0 80px;
  }
}

@media (max-width: 1160px) {
  .franchise-carousel__slider {
    padding: 0 50px;
  }

  .franchise-carousel__title {
    max-width: 630px;
    margin: 0 auto;
    line-height: 100%;
  }

  .franchise-carousel__description {
    padding-top: 45px;
  }
}

@media (max-width: 1060px) {
  .franchise-carousel__slide-content {
    padding: 0 30px 30px;
  }
}

@media (max-width: 1025px) {
  .franchise-carousel__slider {
    padding: 0 10px;
  }
}

@media (max-width: 895px) {
  .franchise-carousel__swiper {
    padding: 0 0 75px !important;
  }

  .franchise-carousel__slider {
    padding: 0 175px;
  }

  .franchise-carousel__description {
    margin-bottom: 50px;
  }

  .franchise-carousel__swiper .swiper-pagination {
    position: absolute;
    bottom: 0 !important;
  }

  .franchise-carousel__description {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media (max-width: 800px) {
  .franchise-carousel__slide-content {
    padding-bottom: 60px;
  }
}

@media (max-width: 675px) {
  .franchise-carousel__title {
    max-width: 600px;
    margin: 0 auto;
  }

  .franchise-carousel__slider {
    padding: 0 140px;
  }
}

@media (max-width: 650px) {
  .franchise-carousel__slider {
    padding: 0 95px;
  }
}

@media (max-width: 550px) {
  .franchise-carousel__title {
    font-size: 45px;
  }
}

@media (max-width: 510px) {
  .franchise-carousel__slider {
    padding: 0 55px;
  }

  .franchise-carousel__description {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (max-width: 445px) {
  .franchise-carousel__slider {
    padding: 0 30px;
  }

  .franchise-carousel__title {
    font-size: 33px;
  }

  .franchise-carousel {
    padding: 60px 0 100px;
  }
}

@media (max-width: 430px) {
  .franchise-carousel__swiper {
    padding: 0 0 50px !important;
  }
}

@media (max-width: 380px) {
  .franchise-carousel__slider {
    padding: 0 20px;
  }

  .franchise-carousel__description {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (max-width: 360px) {
  .franchise-carousel__slider {
    padding: 0 10px;
  }
}

@media (max-width: 350px) {
  .franchise-carousel__description {
    padding-right: 30px;
    padding-left: 30px;
  }
}

/* ===== FRANCHISE PAGE - Section / Dropdown ===== */
.franchise-dropdown {
  background-color: var(--bg-secondary);
  max-width: 88%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 50px;
}

.franchise-dropdown__content {
  margin: 0 auto;
  max-width: 65%;
  width: 100%;
  padding-top: 90px;
}

.franchise-dropdown__steps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  gap: 65px;
  padding-bottom: 80px;
}

.franchise-dropdown__step {
  width: 54%;
  max-width: 54%;
  margin: 0 auto;
}

.franchise-dropdown__step {
  display: flex;
}

.franchise-dropdown__step-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: start;
}

.franchise-dropdown__circle {
  background-color: var(--color-main);
  height: 114px;
  width: 114px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: var(--bg-secondary);
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 40px;
}

.franchise-dropdown__title {
  font-family: var(--font-main);
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  color: var(--text-main);
  margin-bottom: 15px;
}

.franchise-dropdown__text {
  font-family: var(--font-main);
  font-size: 17px;
  font-weight: 400;
  line-height: 140%;
  color: var(--text-main);
}

.franchise-dropdown__step-left {
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.franchise-dropdown__description {
  margin: 40px 0 90px;
  color: var(--text-main);
}

.franchise-dropdown__see-more {
  font-size: 32px;
  font-family: var(--font-main);
  font-weight: 700;
  color: var(--color-main);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 26px;
  margin-left: 12px;
  transition: transform 0.3s ease;
  margin-top: 5px;
}

.arrow--up {
  transform: rotate(180deg);
}

@media (max-width: 1110px) {
  .franchise-dropdown__content {
    max-width: 100%;
    width: 100%;
  }

  .franchise-dropdown__step {
    width: 66%;
    max-width: 66%;
  }
}

@media (max-width: 1055px) {
  .franchise-dropdown__main-title {
    font-size: 55px;
  }

  .franchise-dropdown__content {
    max-width: 80%;
    width: 80%;
  }
}

@media (max-width: 830px) {
  .franchise-dropdown__main-title {
    font-size: 48px;
  }

  .franchise-dropdown__step {
    width: 75%;
    max-width: 75%;
  }
}

@media (max-width: 725px) {
  .franchise-dropdown__main-title {
    font-size: 43px;
  }
}


@media (max-width: 640px) {
  .franchise-dropdown__main-title {
    font-size: 38px;
  }

  .franchise-dropdown__step {
    width: 80%;
    max-width: 80%;
  }
}

@media (max-width: 570px) {
  .franchise-dropdown__main-title {
    font-size: 35px;
  }

  .franchise-dropdown__step {
    width: 85%;
    max-width: 85%;
  }

  .franchise-dropdown__description {
    font-size: 22px;
  }
}

@media (max-width: 530px) {
  .franchise-dropdown__main-title {
    font-size: 33px;
  }

  .franchise-dropdown__description {
    font-size: 20px;
    margin-bottom: 60px;
  }

  .franchise-dropdown__title {
    font-size: 23px;
    margin-bottom: 30px;
  }

  .franchise-dropdown__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .franchise-dropdown__step-left {
    margin-right: 0;
    align-items: center;
  }

  .franchise-dropdown__step-content {
    text-align: center;
    align-items: center;
  }

  .franchise-dropdown__step {
    width: 100%;
    max-width: 70%;
  }

  .franchise-dropdown__step-content {
    margin-top: 35px;
  }

  .franchise-dropdown__see-more {
    font-size: 25px;
  }

  .arrow {
    margin-top: 0;
    width: 20px;
  }
}

@media (max-width: 500px) {
  .franchise-dropdown__content {
    max-width: 90%;
    width: 90%;
  }

  .franchise-dropdown__steps {
    gap: 55px;
  }

  .franchise-dropdown__main-title {
    padding: 0 1rem;
  }
}

@media (max-width: 430px) {
  .franchise-dropdown__main-title {
    font-size: 30px;
  }

  .franchise-dropdown__description {
    margin-bottom: 50px;
  }

  .franchise-dropdown__content {
    max-width: 80%;
    width: 80%;
  }

  .franchise-dropdown__circle {
    width: 90px;
    height: 90px;
    font-size: 35px;
  }

  .franchise-dropdown__see-more {
    font-size: 24px;
  }
}

@media (max-width: 380px) {
  .franchise-dropdown__main-title {
    padding: 0;
    font-size: 22px;
  }

  .franchise-dropdown__content {
    max-width: 85%;
    width: 85%;
  }

  .franchise-dropdown__step {
    max-width: 80%;
  }
}

@media (max-width: 315px) {
  .franchise-dropdown__content {
    max-width: 90%;
    width: 90%;
  }
}

/* ===== FRANCHISE PAGE - Section / Form ===== */
.franchise-form {
  margin: 0 auto;
  max-width: 77%;
  width: 100%;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 122px;
}

.franchise-form__title {
  line-height: 87%
}

.franchise-form__description {
  color: var(--text-main);
  margin-top: 55px;
  margin-bottom: 60px;
}

.franchise-form__input--date {
  padding-right: 30px;
}

.franchise-form__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.franchise-form__form {
  text-align: start;
  max-width: 100%;
  width: 100%;
}

.franchise-form__input {
  background-color: #EEECE0;
  border-radius: 40px;
  padding-top: 13.5px;
  padding-bottom: 13.5px;
  padding-left: 30px;
  border: 1px solid #EEECE0;
  color: var(--color-secondary);
  font-family: var(--font-main);
  font-size: 22px;
  line-height: 87%;
  font-weight: 400;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.franchise-form__input::placeholder {
  color: var(--color-secondary);
  font-family: var(--font-main);
  font-size: 22px;
  line-height: 87%;
  font-weight: 400;
}

.franchise-form__input--full-width {
  width: 100%;
  margin-top: 32px;
}

.franchise-form__input:focus {
  border-color: var(--color-secondary);
  outline: none;
  box-shadow: 0 0 0 1px rgba(197, 157, 95, 0.2);
}

.franchise-form__input--date::-webkit-calendar-picker-indicator {
  filter:
    invert(68%) sepia(14%) saturate(340%) hue-rotate(7deg) brightness(92%) contrast(90%);
  cursor: pointer;
}

.franchise-form__radio-group {
  width: 100%;
  margin-top: 125px;
}

.franchise-form__radio-title {
  color: var(--color-main);
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-main);
  margin-bottom: 43px;
}

.franchise-form__radio-label {
  display: block;
  margin-bottom: 20px;
}

.franchise-form__radio-text {
  color: var(--text-main);
  font-size: 20px;
  line-height: 170%;
  font-weight: 500;
  font-family: var(--font-main);
}

.franchise-form__radio-input {
  margin-right: 30px;
  transform: scale(1.5);
  accent-color: var(--color-main);
}

.franchise-form__radio-group--mn {
  margin-top: 70px;
}

.franchise-form__button {
  border-radius: 35.5px;
  background-color: var(--color-main);
  color: var(--bg-main);
  font-size: 24px;
  font-family: var(--font-main);
  font-weight: 700;
  padding: 13.5px 95.6px;
}

.franchise-form__actions {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

@media (max-width: 800px) {
  .franchise-form__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .franchise-form__title {
    font-size: 52px;
  }

  .franchise-form__radio-group {
    margin-top: 100px;
  }
}

@media (max-width: 685px) {
  .franchise-form__button {
    padding: 13.5px 45px;
    font-size: 21px;
  }
}

@media (max-width: 570px) {
  .franchise-form__title {
    font-size: 50px;
  }

  .franchise-form {
    padding-top: 100px;
  }

  .franchise-form__description {
    font-size: 22px;
  }

  .franchise-form__button {
    font-size: 19px;
  }

  .franchise-form__radio-title {
    font-size: 22px;
  }
}

@media (max-width: 470px) {
  .franchise-form {
    max-width: 85%;
    width: 85%;
  }

  .franchise-form__title {
    font-size: 42px;
  }

  .franchise-form__description {
    font-size: 20px;
  }

  .franchise-form__input {
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    font-size: 21px;
  }

  .franchise-form__input::placeholder {
    font-size: 21px;
  }

  .franchise-form__button {
    font-size: 17px;
  }
}

@media (max-width: 430px) {
  .franchise-form__radio-group {
    margin-top: 80px;
  }

  .franchise-form__title {
    font-size: 39px;
  }

  .franchise-form__input {
    font-size: 19px;
  }

  .franchise-form__input::placeholder {
    font-size: 19px;
  }
}

@media (max-width: 380px) {
  .franchise-form__button {
    font-size: 16px;
  }

  .franchise-form__radio-title {
    font-size: 21px;
  }

  .franchise-form__radio-text {
    font-size: 18px;
  }

  .franchise-form__input::placeholder {
    font-size: 18px;
  }

  .franchise-form__radio-input {
    margin-right: 20px;
  }

  .franchise-form__button {
    padding: 11.5px 35px
  }
}

@media (max-width: 350px) {
  .franchise-form__title {
    font-size: 37px;
  }

  .franchise-form__description {
    font-size: 19px;
  }

  .franchise-form__input {
    padding-top: 10.5px;
    padding-bottom: 10.5px;
  }

  .franchise-form__radio-title {
    font-size: 20px;
  }
}