/* =========================
   CSS RESET
   ========================= */

/* Box sizing */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin & padding */
* {
  margin: 0;
  padding: 0;
}

/* Improve text rendering */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

/* Base body styles */
body {
  overflow-x: hidden;
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Albert Sans", sans-serif;
  background-color: #fff;
  color: #000;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Media elements */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Form elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* Buttons */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  line-height: 1.2;
}

/* Prevent text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Root for React apps */
#root {
  isolation: isolate;
}